*{
    font-family: 'Khula Light','Segoe UI', sans-serif;
    -fx-font-family: 'Khula Light','Segoe UI', sans-serif;
}

.label{
    -fx-text-fill: rgb(255,255,255);
}

.button{
    -fx-text-fill: rgb(255,255,255);
}

.border{
    border-color: rgb(129,129,129);
    -fx-border-color: rgb(129,129,129);
}

.primary-background{
    background-color: linear-gradient(to top left, rgb(25,25,25), rgb(45,45,45));
    -fx-background-color: linear-gradient(to top left, rgb(25,25,25), rgb(45,45,45));
}

.secondary-background{
    background-color: linear-gradient(to top left, rgb(45,45,45),rgb(79,79,79));
    -fx-background-color: linear-gradient(to top left, rgb(45,45,45),rgb(79,79,79));
}

.primary-button{
    border-color: rgb(129,129,129);
    border-radius: 9;
    background-color: linear-gradient(to top left, rgb(25,25,25),rgb(45,45,45));

    -fx-background-color: linear-gradient(to top left, rgb(25,25,25),rgb(45,45,45));
    -fx-border-color: rgb(129,129,129);
    -fx-background-radius: 9;
	-fx-border-radius: 9;
}

.primary-button:pressed{
    background-color: linear-gradient(to top left, rgb(40,40,40),rgb(60,60,60));
    -fx-background-color: linear-gradient(to top left, rgb(40,40,40),rgb(60,60,60));
}

.secondary-button:pressed{
    background-color: linear-gradient(to top left, rgb(45,45,45), rgb(65,65,65));  
    -fx-background-color: linear-gradient(to top left, rgb(45,45,45), rgb(65,65,65));
}

.secondary-button{
    border-color: rgb(129,129,129);
    border-radius: 7;
    background-color: linear-gradient(to top left, rgb(25,25,25), rgb(45,45,45));
    
    -fx-background-color: linear-gradient(to top left, rgb(25,25,25), rgb(45,45,45));
    -fx-border-color: rgb(129,129,129);
    -fx-background-radius: 9;
	-fx-border-radius: 9;
}

.scroll-pane{
    background-color: transparent;
    -fx-background-color:transparent;
 }

.scroll-pane .viewport {
    background-color: transparent;
    -fx-background-color: transparent;
}